@import "../../style/colors.scss";

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid $blackhaze;
    height: 80px;
    margin-bottom: 30px;
    padding: 0 30px;

    &.fixed {
        position: fixed;
        margin-bottom: 0;
        left: 0;
        right: 0;
    }

    h1 {
        font-size: 10px;
        text-transform: uppercase;
        letter-spacing: 10px;
    }

    nav {
        a {
        }
    }
}
