@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");
@import 'bootstrap/dist/css/bootstrap.min.css';
@import "./colors.scss";
@import "./form.scss";

* {
    margin: 0;
    padding: 0;
    outline: none !important;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: transparent;
    font-family: "Montserrat", sans-serif;
}

html,
body,
#root {
    width: 100%;
    height: 100%;
}

html.swal2-shown {
    display: flex;
}