input:not([type="radio"]):not([type="checkbox"]) {
    height: 50px;
    border-radius: 4px;
    border: solid 1px $alto;
    background-color: $white;
    color: $gray;
    padding: 0px 20px;
    outline: none;
    margin-bottom: 15px;

    font-size: 14px;
    font-weight: 300;

    &::placeholder {
        color: $alto;
    }
}

button {
    appearance: none;
    padding: 0px 37px;
    height: 55px;
    font-size: 14px;
    font-weight: 300;
    color: $white;
    border-radius: 4px;
    background-color: $azureradiance;
    border: 0px;
    outline: none;
    cursor: pointer;

    &:focus {
        outline: none;
    }
}
